
<title> Courier Day </title>
{% extends "base.html" %}



{% block content %}
    <div class="jumbotron">
    <h2>Witaj {{ user.username }} </h2>
    <a class="btn btn-primary" href="{% url 'add_day_form' %}" role="button">Dodaj dzień</a>
    <ul>
    <table class="table table-striped">
  <thead>
    <tr>
      <th  scope="col">Dzień</th>
      <th  scope="col">Oddział</th>
      <th scope="col">Adresy</th>
      <th scope="col">Paczkomat</th>
      <th scope="col">Koniec adresów</th>
      <th scope="col">Koniec zbiorów</th>

    </tr>
  </thead>
{% for day in days %}
  <tbody>
    <tr>
        {#   tutaj poprzez klucz obcy packages z CourierDay dostaję się do FacilityPackages     #}
        {#   przez day.packages.date dostaję się do kolumny date z tablicy FaclilityPackages #}
        {#   przez day.packages.packages dostaję się do dolumny packages z tablicy FaclilityPackages     #}
      <th scope="row">{{ day.packages.date }}</th>
      <td >{{ day.packages.packages }}</td>
      <td>{{ day.addresses}}</td>
      <td>{{ day.machine}}</td>
      <td>{{ day.stops_end}}</td>
      <td>{{ day.pickup_end}}</td>
{#        <td> <a href="{% url 'update' day.id %}"> EDYTUJ </a> </td>#}
        <td><a class="btn btn-primary" href="{% url 'update' day.id %}" role="button">Edytuj</a></td>
{#        <td> <a href="{% url 'delete' day.id %}"> USUŃ </a> </td>#}
        <td><a class="btn btn-danger" href="{% url 'delete' day.id %}" role="button">Usuń</a></td>
    </tr>
  </tbody>
{% endfor %}
    </table>
{% endblock %}