{% extends "base.html" %}

{% block content %}
    <title> Home </title>
    <div class="jumbotron mt-3 mb-3">
        <div class="content-section">
            <h2>Witaj na Courier Day!</h2>
            <div class="border-top pt-3">
                <h5>To strona pozwalająca na rejestrowanie przebiegu Twojej codziennej kurierskiej pracy.</h5>
                <h5>Pomoże Ci uporządkować dni, tygodnie i miesiące pracy żebys mógł porównać jak szybko udało Ci się z nią uporać!</h5>
            </div>
        </div>

    </div>
{% endblock %}